/* .regular {
  font-weight: 400;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 800;
}

.background {
  padding-left: 78px;
  padding-right: 78px;
}

.header {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLink {
  padding: 24px;
  font-size: 24px;
  line-height: 43px;
  font-weight: 600;
}

.cta {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  line-height: 92px;
}

.cryptoFiat {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  line-height: 49px;
}

.cryptoRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swapImage {
  margin-left: 16px;
  margin-right: 16px;
}

.logo {
  width: 320px;
  height: 'auto';
}

.titles {
  margin-bottom: 0px;
}

.ctaButton {
  text-align: center;
  margin-top: 24px;
}

.button {
  background: #222222;
  border-radius: 8px;
  padding: 12px 80px 12px 80px;
  font-weight: 800;
}

.features {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.feature {
  max-width: 400px;
  margin-left: 48px;
  margin-right: 48px;
}

.featureTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 28px !important;
  line-height: 39px;
} */
